.main-product{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    gap:40px;
  
}
.card{
   flex:0 1 24%; 
   background-color: rgb(101, 101, 105);
}
.product{
     background: url('https://source.unsplash.com/random?house,cars&${new Date().getTime()}');
     width:50%;
    text-align: center;
    margin:auto;
}